<apex:page standardController="Account" extensions="accSearchController">
    <apex:pageBlock >
        <apex:form >
    <apex:pageBlockSection columns="1" title="Enter Search Criteria">
        <apex:inputText label="Billing Country" value="{! billingCountry}"/>
        <apex:inputText label="Billing State" value="{! billingState}"/>
        <apex:inputText label="Billing City" value="{! billingCity}"/>
        </apex:pageBlockSection>
            <apex:outputPanel style="text-align:center" layout="block">
     				<apex:commandButton value="Search" action="{! search}" reRender="AccountList"/>
        			<apex:commandButton value="Reset" action="{! clear }"/>
                </apex:outputPanel>       
        
        <apex:pageBlockSection title="Accounts">
            <apex:dataTable id="AccountList" value="{! accList}" var="a">
                
            <apex:column >
                <apex:outputLink value="https://ap1.salesforce.com/{!a.id}">{!a.Name}</apex:outputLink>
                </apex:column>
            </apex:dataTable>
        </apex:pageBlockSection>
                        </apex:form>       
    </apex:pageBlock>
</apex:page>