<apex:page standardController="Account">
    
    <apex:form >
        <apex:pageBlock title="Edit Account">
        <apex:pageBlockSection >
            <apex:inputField value="{! Account.name}"/>
        </apex:pageBlockSection>
        <apex:pageBlockButtons >
            <apex:commandButton action="{! save}" value="Save"/>
        </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>