<apex:page sidebar="false" standardController="Account">
   <apex:pageBlock title="Account Summary">
    <apex:pageBlockSection >
       <p>
           Account Name: {! Account.Name}
        </p>
        <p>
            Account Phone : {! Account.Phone}
        </p>
        <p>
            Account Industry : {! Account.Industry}
        </p>
        <p>
            Account Revenue : {! Account.AnnualRevenue}
        </p>
       </apex:pageBlockSection>
    </apex:pageBlock> 
</apex:page>