<apex:page controller="DynamicTableController">
<script type="text/javascript">
  function loading(val) {
    if (val) {
      document.getElementById('contentLoading').style.display = 'block';
      document.getElementById('contentLoaded').style.display = 'none';
    }
    else {
      document.getElementById('contentLoading').style.display = 'none';
      document.getElementById('contentLoaded').style.display = 'block';
    }
  }
</script>
  
<apex:pageBlock >  
    <apex:form >  
        <!-- <apex:actionFunction name="ObjectFileds" action="{!ObjectFields}"/> -->  
          
        <apex:commandButton value="Show Table" action="{!ShowTable}"/>  
         <div id="contentLoading" style="display:none;">
    <div style="text-align: center;">
      <img src="/img/loading.gif" />
    </div>
  </div> 
        <apex:pageBlockSection >  
            <apex:pageBlockSectionItem >  
                <apex:outputLabel value="Select Object"/>  
                <apex:selectList multiselect="false" size="1" value="{!SelectedObject}"> 
                    <apex:selectOption itemLabel="--None--" itemValue="--None--"/>  
                    <apex:selectoptions value="{!supportedObject}" /> 
                    <apex:actionStatus onstart="loading(true)" onstop="loading(false)" id="counterStatus"/>
                    <apex:actionSupport event="onchange" status="counterStatus" reRender="selectFieldss,RecordTable" action="{!ObjectFields}"/> 
                </apex:selectlist> 
            </apex:pageBlockSectionItem>  
              
            <apex:pageBlockSectionItem >  
                <apex:outputLabel value="Select Field"/>  
                <apex:selectList id="selectFieldss" multiselect="true" size="5" value="{!SelectedFields}">  
                    <apex:selectOption itemLabel="--None--" itemValue="--None--"/>  
                    <apex:selectoptions value="{!fieldLableAPI}" />  
                </apex:selectlist>  
            </apex:pageBlockSectionItem>  
              
            <apex:pageBlockTable id="RecordTable" rendered="{!IF(ObjectList.size > 0 , true , false)}" value="{!ObjectList}" var="rec">  
                <apex:column value="{!rec.Id}" rendered="{!IF(SelectedFields.size == 0 , true, false)}"/>  
                <apex:repeat value="{!SelectedFields}" var="FieldLable">  
                    <apex:column value="{!rec[FieldLable]}" rendered="{!IF(FieldLable != '--None--' , true, false)}"/>  
                </apex:repeat>  
            </apex:pageBlockTable>  
              
            <apex:outputPanel rendered="{!IF(ObjectList.size < 1 , true , false)}">  
                <apex:pageMessage severity="ERROR" summary="No records to display"/>  
            </apex:outputPanel>  
              
        </apex:pageBlockSection>  
          
    </apex:form>  
</apex:pageBlock>  
</apex:page>