<apex:page standardController="Account" extensions="StaticResourceToHTML_Controller" renderAs="pdf">
<head>
    <apex:stylesheet value="{!$Resource.PDFHeaderFooter_CSS}"/>
    <apex:stylesheet value="{!$Resource.UnifiedCSS}"/>
</head>

<!-- All Pages Header -->
    <c:PDFHeaderFooter type="header" position="center"><div style="padding: 10px; background-color: #ccc"><apex:outputtext escape="false" value="{!AllHeaderCenter}"></apex:outputtext></div></c:PDFHeaderFooter>
    
    
<!--  Body Contents Go Here -->
    <apex:outputtext escape="false" value="{!html}"></apex:outputtext>
<c:PDFHeaderFooter type="footer" position="right" showPageNumbers="{!showPageNumbers}"/>
</apex:page>