<apex:page standardController="Class__c" extensions="ClassList">
    <apex:pageBlock title="Manage Classes">
        <apex:form >
    <apex:dataTable value="{!listClasses}" var="singleClass" cellspacing="10">
        <apex:column headerValue="Action">
            <apex:commandLink value="Edit" action="{! loadRecord}" reRender="EditSection"> <apex:param name="classIDParam" value="{! singleClass.id}" assignTo="{! selectedClassEdit}"/> </apex:commandLink>&nbsp;&nbsp;<apex:outputLink value="{!URLFOR($Action.Class__c.Delete, singleClass.id)}">Del</apex:outputLink>
        </apex:column>
        <apex:column headerValue="Name">
            <apex:outputLink value="https://ap1.salesforce.com/{!singleClass.id}">{! singleClass.Name}</apex:outputLink>
        </apex:column>
        </apex:dataTable>
            <apex:pageBlockSection columns="1">
        <apex:outputPanel id="EditSection">
            <table>
                <tr>
                    <td><apex:outputLabel rendered="{! editObj!=null}"><b>Name</b></apex:outputLabel></td><td><apex:inputField rendered="{! editObj!=null}" value="{! editObj.name}"  /></td>
                </tr>
                <tr>
                    <td><apex:outputLabel rendered="{! editObj!=null}"><b>Fee</b></apex:outputLabel></td><td><apex:inputField rendered="{! editObj!=null}" value="{! editObj.fee__c}" /></td>
                </tr>
                <tr>
                    <td><apex:outputLabel rendered="{! editObj!=null}"><b>Max Size</b></apex:outputLabel></td><td><apex:inputField rendered="{! editObj!=null}" value="{! editObj.maxsize__c}" /></td>
                </tr>
                <tr>
                    <td><apex:outputLabel rendered="{! editObj!=null}"><b>Detailed Description</b></apex:outputLabel></td><td><apex:inputField rendered="{! editObj!=null}" value="{! editObj.Detailed_Description__c}" /></td>
                </tr>
                <tr>
                    <td align="center"><apex:commandButton value="Save" action="{!saveObj}"  rendered="{! editObj!=null}"/></td>
                    <td align="center"><apex:commandButton value="Cancel" action="{!cancelObj}"  rendered="{! editObj!=null}"/></td>
                </tr>
            </table>
                       
        </apex:outputPanel>
            </apex:pageBlockSection>
            </apex:form>
    </apex:pageBlock>
</apex:page>