<apex:page controller="SelectCampaignRTController" tabStyle="Campaign">
<apex:form >
        <apex:pageBlock title="Select Campaign Record Type">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Continue" action="{!editWithRecordType}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
           
            <apex:pageBlockSection collapsible="false" columns="1">
                <apex:inputField value="{!cmp.RecordTypeId}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>