<apex:page standardController="Case" sidebar="false" extensions="SmartCaseSearchExtension"   tabstyle="Case" id="pg">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>    
<c:WaitingComponent />

    <apex:sectionHeader title="Cases" subtitle="Smart Case Search"/>
<style type="text/css">
    .data_field{
        padding-right:20px;
     }
     span#icon_clear{   
	     font-family:verdana;
	     cursor:pointer;
	     color:#38468F;
	     font-weight:bold;
	     position:relative;
	     height:20px;
	     left:-18px;
     }
     span#icon_clear:hover{
         color:#ccc;
     }
     .dataRowHeader{
     	background-color:#F2F3F3;
     	font-weight:bold;
     }
     .dataRowInput{
     	background-color:white;
     }
     .dataCell{
     	text-align:center;
     }
     .checkCell{
     	text-align:center;
     }
</style>   
<apex:form id="frm">
        <script>
          // Character limits of search cases for all fields
          var searchCharacterLimit = 3; 
        </script>
        <apex:actionStatus onstart="lockScreen(true)" onstop="lockScreen(false)" id="status">
        	
    	</apex:actionStatus>        
        <table class="list" width="100%">
            <tr class="dataRow" onmouseout="javascript:hiOff(this)" onmouseover="javascript:hiOn(this)">
                <td class="labelCol" colspan="1" style="width:200px;" ><h2 class="pageDescription">Smart Case Search</h2></td>
                <td class="dataCell" colspan="11"><a href="javascript:void(0);" onclick="resetSearchStatus();"> Reset Search</a> </td>
            </tr>   
            <tr class="dataRowHeader">
                <td class="labelCol" style="width:200px;" > Search by </td>
                <td class="dataCell" >Case Number</td>
                <td class="dataCell" >Case Created Date (Start)</td>
                <td class="dataCell" >Case Created Date (End)</td>
                <td class="dataCell" >Account Name</td>
                <td class="dataCell" >Owned by Me</td>        
            </tr>  
            <tr class="dataRowInput" onmouseout="javascript:hiOff(this)" onmouseover="javascript:hiOn(this)">
                <td class="labelCol" style="width:200px;" > Search Criteria: </td>
               
                <td class="dataCell" >  
                     <apex:outputPanel id="op1">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!caseNumber}"  id="txtCaseNumber" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                
                <td class="dataCell" >  
                     <apex:outputPanel id="op2">
                        <apex:inputField styleClass="data_field" value="{!firstCase.testing__c}" id="txtCaseCreatedDateStart" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                
                
                <td class="dataCell" >  
                     <apex:outputPanel id="op3">
                        <apex:inputField styleClass="data_field" value="{!secondCase.testing__c}"  id="txtCaseCreatedDateEnd" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                
                
                <td class="dataCell" >  
                     <apex:outputPanel id="op4">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!accountName}"  id="txtAccountName" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="checkCell">
                     <apex:outputPanel id="op5">
                        <apex:inputCheckBox title="Minimum two characters are required" value="{!ownedByMe}" id="selOwnedByMe" style="width:100px;" />
                    </apex:outputPanel> 
                </td>    
        	</tr>
            
            <tr class="dataRowHeader" >
                <td class="labelCol" style="width:200px;" > Search by </td>
                <td class="dataCell" >Account Zip Code</td>
                <td class="dataCell" >Or</td>
                <td class="dataCell" >Account Country</td>
                <td class="dataCell" >Or</td>
                <td class="dataCell" >Account Street</td>
            </tr>   
            
            <tr class="dataRowInput" onmouseout="javascript:hiOff(this)" onmouseover="javascript:hiOn(this)">
                <td class="labelCol" style="width:200px;" > Search Criteria: </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op6">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!accountZipCode}" id="txtAccountZipCode" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="checkCell">  
                     <apex:outputPanel id="op7">
                        <apex:inputCheckBox title="Minimum two characters are required" value="{!orAndAccZipCountry}" id="selOrAndAccZipCountry" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op8">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!accountCountry}" id="txtAccountCountry" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="checkCell">  
                     <apex:outputPanel id="op9">
                        <apex:inputCheckBox title="Minimum two characters are required" value="{!orAndAccCountryStreet}" id="selOrAndAccCountryStreet" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op10">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!accountStreet}" id="txtAccountStreet" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
            </tr> 
            <tr class="dataRowHeader" >
                <td class="labelCol" style="width:200px;" > Search by </td>
                <td class="dataCell" >Contact Name</td>
                <td class="dataCell" >Contact Email</td>
                <td class="dataCell" >Contact Phone#</td>
                <td class="dataCell" >Subject Keyword</td>
                <td class="dataCell" >Email Body Keyword</td>
            </tr>    
             <tr class="dataRowInput" onmouseout="javascript:hiOff(this)" onmouseover="javascript:hiOn(this)">
                <td class="labelCol" style="width:200px;" > Search Criteria: </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op11">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactName}" id="txtContactName" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                 <td class="dataCell" >  
                     <apex:outputPanel id="op12">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactEmail}" id="txtContactEmail" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op13">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactPhoneNo}" id="txtContactPhoneNo" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op14">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!subjectKeyword}" id="txtSubjectKeyword" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op15">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!emailBodyKeyword}" id="txtEmailBodyKeyword" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
            </tr>       
            <tr class="dataRowHeader" >
                <td class="labelCol" style="width:200px;" > Search by </td>
                <td class="dataCell" >Contact Zip Code</td>
                <td class="dataCell" >Or</td>
                <td class="dataCell" >Contact Country</td>
                <td class="dataCell" >Or</td>
                <td class="dataCell" >Contact Street</td>
                
            </tr>    
             <tr class="dataRowInput" onmouseout="javascript:hiOff(this)" onmouseover="javascript:hiOn(this)">
                <td class="labelCol" style="width:200px;" > Search Criteria: </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op16">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactZipCode}" id="txtContactZipCode" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="checkCell">  
                     <apex:outputPanel id="op17">
                        <apex:inputCheckBox title="Minimum two characters are required" value="{!orAndCtZipCountry}" id="selOrAndCtZipCountry" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op18">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactCountry}" id="txtContactCountry" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="checkCell">  
                     <apex:outputPanel id="op19">
                        <apex:inputCheckBox title="Minimum two characters are required" value="{!orAndCtCountryStreet}" id="selOrAndCtCountryStreet" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
                <td class="dataCell" >  
                     <apex:outputPanel id="op20">
                        <apex:inputText styleClass="data_field" title="Minimum two characters are required" value="{!contactStreet}" id="txtContactStreet" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
            </tr>           
        </table>
        <input type="hidden" id="oldCaseNumber" value="" />
		<input type="hidden" id="oldCaseCreatedDateStart" value="" />
		<input type="hidden" id="oldCaseCreatedDateEnd" value="" />
		<input type="hidden" id="oldAccountName" value="" />
		<input type="hidden" id="oldOwnedByMe" value="" />
		<input type="hidden" id="oldAccountZipCode" value="" />
		<input type="hidden" id="oldOrAndAccZipCountry" value="" />
		<input type="hidden" id="oldAccountCountry" value="" />
		<input type="hidden" id="oldOrAndAccCountryStreet" value="" />
		<input type="hidden" id="oldAccountStreet" value="" />
		<input type="hidden" id="oldContactName" value="" />
		<input type="hidden" id="oldContactEmail" value="" />
		<input type="hidden" id="oldContactPhoneNo" value="" />
		<input type="hidden" id="oldSubjectKeyword" value="" />
		<input type="hidden" id="oldEmailBodyKeyword" value="" />
		<input type="hidden" id="oldContactZipCode" value="" />
		<input type="hidden" id="oldOrAndCtZipCountry" value="" />
		<input type="hidden" id="oldContactCountry" value="" />
		<input type="hidden" id="oldOrAndCtCountryStreet" value="" />
		<input type="hidden" id="oldContactStreet" value="" />
		
        <input type="hidden" id="EnterKeyPressed" value="" />
        
<script>
    //function setFocusOnLoad() {}
    //, txtContactFName,#txtContactEmail,#txtCaseAccount
    
    $j=jQuery.noConflict();
   
    $j('.data_field').each(function() {
        if ($j(this).val().length <= 0) {
            $j(this).next().fadeOut(300);
        }
        else {
            $j('.cross_icon').fadeIn(300);
        }
    });

    function callSearch(){
    	var txtCaseNumber = $j('input[id$=txtCaseNumber]').val();
		var txtCaseCreatedDateStart = $j('input[id$=txtCaseCreatedDateStart]').val();
		var txtCaseCreatedDateEnd = $j('input[id$=txtCaseCreatedDateEnd]').val();
		var txtAccountName = $j('input[id$=txtAccountName]').val();
		var selOwnedByMe = $j('input[id$=selOwnedByMe]').is(':checked');
		var txtAccountZipCode = $j('input[id$=txtAccountZipCode]').val();
		var selOrAndAccZipCountry = $j('input[id$=selOrAndAccZipCountry]').is(':checked');
		var txtAccountCountry = $j('input[id$=txtAccountCountry]').val();
		var selOrAndAccCountryStreet = $j('input[id$=selOrAndAccCountryStreet]').is(':checked');
		var txtAccountStreet = $j('input[id$=txtAccountStreet]').val();
		var txtContactName = $j('input[id$=txtContactName]').val();
		var txtContactEmail = $j('input[id$=txtContactEmail]').val();
		var txtContactPhoneNo = $j('input[id$=txtContactPhoneNo]').val();
		var txtSubjectKeyword = $j('input[id$=txtSubjectKeyword]').val();
		var txtEmailBodyKeyword = $j('input[id$=txtEmailBodyKeyword]').val();
		var txtContactZipCode = $j('input[id$=txtContactZipCode]').val();
		var selOrAndCtZipCountry = $j('input[id$=selOrAndCtZipCountry]').is(':checked');
		var txtContactCountry = $j('input[id$=txtContactCountry]').val();
		var selOrAndCtCountryStreet = $j('input[id$=selOrAndCtCountryStreet]').is(':checked');
		var txtContactStreet = $j('input[id$=txtContactStreet]').val();
    	
        search(txtCaseNumber, txtCaseCreatedDateStart, txtCaseCreatedDateEnd, txtAccountName, selOwnedByMe, txtAccountZipCode, selOrAndAccZipCountry, txtAccountCountry, selOrAndAccCountryStreet, txtAccountStreet, txtContactName, txtContactEmail, txtContactPhoneNo, txtSubjectKeyword, txtEmailBodyKeyword, txtContactZipCode, selOrAndCtZipCountry, txtContactCountry, selOrAndCtCountryStreet, txtContactStreet);
    }
    $j('input[type="text"]').change(function(){
    	callSearch();
    });
    $j('input[type="checkbox"]').change(function(){
    	callSearch();
    });
    
    $j('.data_field').on('keyup', function() {
        if ($j(this).val().length > 0) {
            $j(this).next().fadeIn(300);
            //$j('.cross_icon').fadeIn(300);
        }
        else {
           // $j('.cross_icon').fadeOut(300);
        }
    });

    function validateForSearch(ctrl){   
       setTimeout("validateForSearch2()", 1000);
    }
    // function runs on on blur event
    function BlurEventFunction(ctrl,e){   
          
      if(document.getElementById(ctrl).value == ''){
              
              //return;
          } 
          
          var keycode = (e.keyCode ? e.keyCode : e.which); 
           if(keycode == '13'){         
            e.preventDefault();
            return false;
          }
          else{  
              
           setTimeout("validateForSearch2()", 1000);
            return false;
          }                
    }  
    
    //Function to trim string
    function fncTrim(value) {
        return value.replace(/^\s*/, "").replace(/\s*$/, "");
    }
     
    function removeSpecialChars(FieldName){
         var txtFieldName = document.getElementById(FieldName).value;   
         var punctuationless = txtFieldName.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"");
         txtFieldName = punctuationless.replace(/\s{2,}/g," ");
         txtFieldName = txtFieldName.replace(/["']{1}/gi,"");
         txtFieldName = txtFieldName.replace("@","");
         return txtFieldName;
    }
    
     
    function validateForSearch2(){
        try{
        	var txtCaseNumber = removeSpecialChars("pg:frm:txtCaseNumber");
			var txtCaseCreatedDateStart = removeSpecialChars("pg:frm:txtCaseCreatedDateStart");
			var txtCaseCreatedDateEnd = removeSpecialChars("pg:frm:txtCaseCreatedDateEnd");
			var txtAccountName = removeSpecialChars("pg:frm:txtAccountName");
			var selOwnedByMe = removeSpecialChars("pg:frm:selOwnedByMe").is(':checked');
			var txtAccountZipCode = removeSpecialChars("pg:frm:txtAccountZipCode");
			var selOrAndAccZipCountry = removeSpecialChars("pg:frm:selOrAndAccZipCountry").is(':checked');
			var txtAccountCountry = removeSpecialChars("pg:frm:txtAccountCountry");
			var selOrAndAccCountryStreet = removeSpecialChars("pg:frm:selOrAndAccCountryStreet").is(':checked');
			var txtAccountStreet = removeSpecialChars("pg:frm:txtAccountStreet");
			var txtContactName = removeSpecialChars("pg:frm:txtContactName");
			var txtContactEmail = removeSpecialChars("pg:frm:txtContactEmail");
			var txtContactPhoneNo = removeSpecialChars("pg:frm:txtContactPhoneNo");
			var txtSubjectKeyword = removeSpecialChars("pg:frm:txtSubjectKeyword");
			var txtEmailBodyKeyword = removeSpecialChars("pg:frm:txtEmailBodyKeyword");
			var txtContactZipCode = removeSpecialChars("pg:frm:txtContactZipCode");
			var selOrAndCtZipCountry = removeSpecialChars("pg:frm:selOrAndCtZipCountry").is(':checked');
			var txtContactCountry = removeSpecialChars("pg:frm:txtContactCountry");
			var selOrAndCtCountryStreet = removeSpecialChars("pg:frm:selOrAndCtCountryStreet").is(':checked');
			var txtContactStreet = removeSpecialChars("pg:frm:txtContactStreet");
            
            if(fncTrim(txtCaseNumber) != '' || fncTrim(txtCaseCreatedDateStart) != '' || fncTrim(txtCaseCreatedDateEnd) != '' || fncTrim(txtAccountName) != '' || 
               fncTrim(selOwnedByMe) != '' || fncTrim(txtAccountZipCode) != '' || fncTrim(selOrAndAccZipCountry) != '' || fncTrim(txtAccountCountry) != '' || 
               fncTrim(selOrAndAccCountryStreet) != '' || fncTrim(txtAccountStreet) != '' || fncTrim(txtContactName) != '' || fncTrim(txtContactEmail) != '' || 
               fncTrim(txtContactPhoneNo) != '' || fncTrim(txtSubjectKeyword) != '' || fncTrim(txtEmailBodyKeyword) != '' || fncTrim(txtContactZipCode) != '' || 
               fncTrim(selOrAndCtZipCountry) != '' || fncTrim(txtContactCountry) != '' || fncTrim(selOrAndCtCountryStreet) != '' || fncTrim(txtContactStreet) != ''){
          		
          		var oldCaseNumber = document.getElementById('oldCaseNumber').value;
				var oldCaseCreatedDateStart = document.getElementById('oldCaseCreatedDateStart').value;
				var oldCaseCreatedDateEnd = document.getElementById('oldCaseCreatedDateEnd').value;
				var oldAccountName = document.getElementById('oldAccountName').value;
				var oldOwnedByMe = document.getElementById('oldOwnedByMe').value;
				var oldAccountZipCode = document.getElementById('oldAccountZipCode').value;
				var oldOrAndAccZipCountry = document.getElementById('oldOrAndAccZipCountry').value;
				var oldAccountCountry = document.getElementById('oldAccountCountry').value;
				var oldOrAndAccCountryStreet = document.getElementById('oldOrAndAccCountryStreet').value;
				var oldAccountStreet = document.getElementById('oldAccountStreet').value;
				var oldContactName = document.getElementById('oldContactName').value;
				var oldContactEmail = document.getElementById('oldContactEmail').value;
				var oldContactPhoneNo = document.getElementById('oldContactPhoneNo').value;
				var oldSubjectKeyword = document.getElementById('oldSubjectKeyword').value;
				var oldEmailBodyKeyword = document.getElementById('oldEmailBodyKeyword').value;
				var oldContactZipCode = document.getElementById('oldContactZipCode').value;
				var oldOrAndCtZipCountry = document.getElementById('oldOrAndCtZipCountry').value;
				var oldContactCountry = document.getElementById('oldContactCountry').value;
				var oldOrAndCtCountryStreet = document.getElementById('oldOrAndCtCountryStreet').value;
				var oldContactStreet = document.getElementById('oldContactStreet').value;
               
                document.getElementById('oldCaseNumber').value = txtCaseNumber;
				document.getElementById('oldCaseCreatedDateStart').value = txtCaseCreatedDateStart;                
				document.getElementById('oldCaseCreatedDateEnd').value = txtCaseCreatedDateEnd; 
				document.getElementById('oldAccountName').value = txtAccountName; 
				document.getElementById('oldOwnedByMe').value = selOwnedByMe;
				document.getElementById('oldAccountZipCode').value = txtAccountZipCode;                
				document.getElementById('oldOrAndAccZipCountry').value = selOrAndAccZipCountry; 
				document.getElementById('oldAccountCountry').value = txtAccountCountry; 
				document.getElementById('oldOrAndAccCountryStreet').value = selOrAndAccCountryStreet; 
				document.getElementById('oldAccountStreet').value = txtAccountStreet;
				document.getElementById('oldContactName').value = txtContactName;
				document.getElementById('oldContactEmail').value = txtContactEmail;
				document.getElementById('oldContactPhoneNo').value = txtContactPhoneNo;
				document.getElementById('oldSubjectKeyword').value = txtSubjectKeyword;
				document.getElementById('oldEmailBodyKeyword').value = txtEmailBodyKeyword;
				document.getElementById('oldContactZipCode').value = txtContactZipCode;
				document.getElementById('oldOrAndCtZipCountry').value = selOrAndCtZipCountry;
				document.getElementById('oldContactCountry').value = txtContactCountry;
				document.getElementById('oldOrAndCtCountryStreet').value = selOrAndCtCountryStreet;
				document.getElementById('oldContactStreet').value = txtContactStreet;
                 
                var isChange = 'No';
                if((fncTrim(txtCaseNumber).length >= searchCharacterLimit || fncTrim(txtCaseNumber).length == 0) && txtCaseNumber != oldCaseNumber){
                   isChange = 'Yes';
                }
                
                if((fncTrim(txtCaseCreatedDateStart).length >= searchCharacterLimit || fncTrim(txtCaseCreatedDateStart).length == 0) && txtCaseCreatedDateStart != oldCaseCreatedDateStart){
                   isChange = 'Yes';
                }               
                if((fncTrim(txtCaseCreatedDateEnd).length >= searchCharacterLimit || fncTrim(txtCaseCreatedDateEnd).length == 0) && txtCaseCreatedDateEnd != oldCaseCreatedDateEnd){
                   isChange = 'Yes';
                }               
                if((fncTrim(txtAccountName).length >= searchCharacterLimit || fncTrim(txtAccountName).length == 0) && txtAccountName != oldAccountName){
                   isChange = 'Yes';
                } 
                if((fncTrim(selOwnedByMe).length >= searchCharacterLimit || fncTrim(selOwnedByMe).length == 0) && selOwnedByMe != oldOwnedByMe){
                   isChange = 'Yes';
                }
                
                if((fncTrim(txtAccountZipCode).length >= searchCharacterLimit || fncTrim(txtAccountZipCode).length == 0) && txtAccountZipCode != oldAccountZipCode){
                   isChange = 'Yes';
                }               
                if((fncTrim(selOrAndAccZipCountry).length >= searchCharacterLimit || fncTrim(selOrAndAccZipCountry).length == 0) && selOrAndAccZipCountry != oldOrAndAccZipCountry){
                   isChange = 'Yes';
                }               
                if((fncTrim(txtAccountCountry).length >= searchCharacterLimit || fncTrim(txtAccountCountry).length == 0) && txtAccountCountry != oldAccountCountry){
                   isChange = 'Yes';
                }  
                if((fncTrim(selOrAndAccCountryStreet).length >= searchCharacterLimit || fncTrim(selOrAndAccCountryStreet).length == 0) && selOrAndAccCountryStreet != oldOrAndAccCountryStreet){
                   isChange = 'Yes';
                }               
                if((fncTrim(txtAccountStreet).length >= searchCharacterLimit || fncTrim(txtAccountStreet).length == 0) && txtAccountStreet != oldAccountStreet){
                   isChange = 'Yes';
                }               
                if((fncTrim(txtContactName).length >= searchCharacterLimit || fncTrim(txtContactName).length == 0) && txtContactName != oldContactName){
                   isChange = 'Yes';
                }  
                if((fncTrim(txtContactEmail).length >= searchCharacterLimit || fncTrim(txtContactEmail).length == 0) && txtContactEmail != oldContactEmail){
                   isChange = 'Yes';
                }   
                if((fncTrim(txtContactPhoneNo).length >= searchCharacterLimit || fncTrim(txtContactPhoneNo).length == 0) && txtContactPhoneNo != oldContactPhoneNo){
                   isChange = 'Yes';
                } 
                if((fncTrim(txtSubjectKeyword).length >= searchCharacterLimit || fncTrim(txtSubjectKeyword).length == 0) && txtSubjectKeyword != oldSubjectKeyword){
                   isChange = 'Yes';
                } 
                if((fncTrim(txtEmailBodyKeyword).length >= searchCharacterLimit || fncTrim(txtEmailBodyKeyword).length == 0) && txtEmailBodyKeyword != oldEmailBodyKeyword){
                   isChange = 'Yes';
                } 
                if((fncTrim(txtContactZipCode).length >= searchCharacterLimit || fncTrim(txtContactZipCode).length == 0) && txtContactZipCode != oldContactZipCode){
                   isChange = 'Yes';
                } 
                if((fncTrim(selOrAndCtZipCountry).length >= searchCharacterLimit || fncTrim(selOrAndCtZipCountry).length == 0) && selOrAndCtZipCountry != oldOrAndCtZipCountry){
                   isChange = 'Yes';
                }   
                if((fncTrim(txtContactCountry).length >= searchCharacterLimit || fncTrim(txtContactCountry).length == 0) && txtContactCountry != oldContactCountry){
                   isChange = 'Yes';
                }   
                if((fncTrim(selOrAndCtCountryStreet).length >= searchCharacterLimit || fncTrim(selOrAndCtCountryStreet).length == 0) && selOrAndCtCountryStreet != oldOrAndCtCountryStreet){
                   isChange = 'Yes';
                }  
                if((fncTrim(txtContactStreet).length >= searchCharacterLimit || fncTrim(txtContactStreet).length == 0) && txtContactStreet != oldContactStreet){
                   isChange = 'Yes';
                }       
                if(isChange == 'Yes' ){                 
                    search(txtCaseNumber, txtCaseCreatedDateStart, txtCaseCreatedDateEnd, txtAccountName, selOwnedByMe, txtAccountZipCode, selOrAndAccZipCountry, txtAccountCountry, selOrAndAccCountryStreet, txtAccountStreet, txtContactName, txtContactEmail, txtContactPhoneNo, txtSubjectKeyword, txtEmailBodyKeyword, txtContactZipCode, selOrAndCtZipCountry, txtContactCountry, selOrAndCtCountryStreet, txtContactStreet);
            	}    
          	}          
        }
        catch(e){         
            alert(e);
        }     
    }
    //jazzyrocksr: Made the contact prefix dynamic with describe call in Apex
    function goToBack(){                          
        window.location.href = '/{!casePrefix}/o';
         return false; 
        
    }   
</script>

<apex:actionFunction action="{!performSearch}" name="search" reRender="resultBlock,resultBlockBrand,pnlDisplayMsg,caseSearchResult" status="status" >
    <apex:param name="d1" value="" assignTo="{!caseNumber}" />
	<apex:param name="d2" value="" assignTo="{!firstCase.testing__c}" />
	<apex:param name="d3" value="" assignTo="{!secondCase.testing__c}" />
	<apex:param name="d4" value="" assignTo="{!accountName}" />
	<apex:param name="d5" value="" assignTo="{!ownedByMe}" />
	<apex:param name="d6" value="" assignTo="{!accountZipCode}" />
	<apex:param name="d7" value="" assignTo="{!orAndAccZipCountry}" />
	<apex:param name="d8" value="" assignTo="{!accountCountry}" />
	<apex:param name="d9" value="" assignTo="{!orAndAccCountryStreet}" />
	<apex:param name="d10" value="" assignTo="{!accountStreet}" />
	<apex:param name="d11" value="" assignTo="{!contactName}" />
	<apex:param name="d12" value="" assignTo="{!contactEmail}" />
	<apex:param name="d13" value="" assignTo="{!contactPhoneNo}" />
	<apex:param name="d14" value="" assignTo="{!subjectKeyword}" />
	<apex:param name="d15" value="" assignTo="{!emailBodyKeyword}" />
	<apex:param name="d16" value="" assignTo="{!contactZipCode}" />
	<apex:param name="d17" value="" assignTo="{!orAndCtZipCountry}" />
	<apex:param name="d18" value="" assignTo="{!contactCountry}" />
	<apex:param name="d19" value="" assignTo="{!orAndCtCountryStreet}" />
	<apex:param name="d20" value="" assignTo="{!contactStreet}" />
</apex:actionFunction>
<apex:actionFunction name="resetSearchStatus" action="{!resetSearchStatus}" reRender="frm" status="status" >
    <apex:param name="txtobj" value="" assignTo="{!resetTextBoxName}" />
</apex:actionFunction>  
<apex:outputPanel id="caseSearchResult">
    <c:SmartCaseSearchDisplay c="{!this}" />
      </apex:outputPanel> 
       
</apex:form>
</apex:page>