<apex:page standardController="Opportunity" extensions="SmartOpportunitySearchExtension" sidebar="true" tabstyle="Opportunity" id="pg">
    <apex:sectionHeader subtitle="Smart Opportunity Search"/>
   
    <apex:form id="frm">
        <script>
          // Character limits of search product for all fields
          var searchCharacterLimit = 3; 
        </script>
        <table class="list" width = "100%">

                <tr class = "dataRow" onmouseout = "javascript:hiOff(this)" onmouseover = "javascript:hiOn(this)">
                <td class = "labelCol" style = "width:200px;" > Search By Name: </td>
                <td class = "dataCell" >  
                     <apex:outputPanel >
                        <apex:inputText title="Minimum three characters are required" value="{!opptyNameToSearch}" onkeyup="validateForSearch(this);" id="txtOpptyName" style="width:100px;" />
                    </apex:outputPanel> 
                </td>
            </tr>   
        </table>
        
        <input type = "hidden" id = "oldOpptyName" value = "" />
        
<script>
    function validateForSearch(ctrl){
        setTimeout("validateForSearch2()",1000);
    }
    
    //Function to trim string
    function fncTrim(value) {
        return value.replace(/^\s*/, "").replace(/\s*$/, "");
    }
 
    function validateForSearch2(){
        try{
            var txtOpptyName = document.getElementById("pg:frm:txtOpptyName").value;
            if(fncTrim(txtOpptyName) != ''){
            	var oldOpptyName = document.getElementById('oldOpptyName').value;
               	document.getElementById('oldOpptyName').value = txtOpptyName;
               	var isChange = 'No';
               
		       	if(fncTrim(txtOpptyName).length >= searchCharacterLimit && txtOpptyName != oldOpptyName){
		       		isChange = 'Yes';
		       	}       
			    if(isChange == 'Yes' ){
			    	search(txtOpptyName);
			    }    
	  		} 
  		}
  		catch(e){
    		alert(e);
  		}     
 	}	
 
</script>

<apex:actionFunction action="{!performSearch}" name="search" reRender="resultBlock,resultBlockBrand,pnlDisplayMsg" status="status" >   
    <apex:param name="d" value="" assignTo="{!opptyNameToSearch}" />
</apex:actionFunction>


<apex:actionFunction name="nextPage" action="{!nextPage}" reRender="resultBlock,pnlDisplayMsg" status="status" />
<apex:actionFunction name="previousPage" action="{!previousPage}" reRender="resultBlock,pnlDisplayMsg" status="status" />

<apex:outputPanel id="pnlDisplayMsg">
    <apex:pageMessages />
</apex:outputPanel>
<apex:pageBlock id="resultBlock" title = "Opportunity {!IF((searchCount == 0 || searchCount >= limitRecords), '', ' [' + TEXT(searchCount) + ']')}">
    <apex:actionStatus id="status">
                <apex:facet name="start">
                  <span style = "color:red;">Loading...</span> <img src = "/img/loading.gif" />
                </apex:facet>
            </apex:actionStatus>
    <apex:pageBlockTable value="{!Opportunities}" var="oppty">
            <apex:column >
               <apex:outputLink value="/{!oppty.Id}" target="_blank">{!oppty.Name}</apex:outputLink>
                 <apex:facet name="header">Name</apex:facet>
        </apex:column>
        
         
        <apex:column >
             <apex:outputLabel value="{!oppty.CloseDate}" />
                 <apex:facet name="header">Close Date</apex:facet>
        </apex:column>
         <apex:column >
                <apex:outputLabel value="{!oppty.StageName}" />
                 <apex:facet name="header">Stage</apex:facet>
        </apex:column>
    </apex:pageBlockTable>

    <apex:outputPanel id="errorBlock" rendered = "{!(searchCount == 0 || searchCount >= limitRecords)}"><span style = "color:red;">{!searchStatus}</span></apex:outputPanel>
     <apex:outputPanel rendered="{!NOT(searchCount == 0)}">
                 <hr/>
                 <table width = "100%" >
                  <tr>
                   <td align = "left" width = "33%">
                        <div id = "pagelinkblock" >
                           <div id = "curstate"> {!showingFrom}-{!showingTo} of {!totalResults} </div>
                        </div>
                   </td>
                   <td align="center" width = "33%" style = "vertical-align:middle;">
                       <apex:outputLink value="javascript:void(0);"  rendered="{!hasPrevious}" onclick="previousPage();">&lt;&lt;Previous</apex:outputLink>
                       <span id = "div_mid1" >&nbsp;<apex:outputLabel rendered="{!hasPrevious && hasNext}" value="|"/> &nbsp;</span>
                        <apex:outputLink value="javascript:void(0);" rendered="{!hasNext}" onclick="nextPage();">Next&gt;&gt;</apex:outputLink>
                   </td>   
                   <td align = "right" width = "33%" style = "vertical-align:middle;">
                        <div id = "pagenumber"> Page &nbsp;<apex:inputText value="{!requestedPage}" style="width:40px"/> of {!totalPage} <apex:commandButton value="Go" action="{!requestedPage}" reRender="resultBlock,pnlDisplayMsg" status="status" /></div>
                   </td>
                 </tr>
                </table> 
    </apex:outputPanel>
  </apex:pageBlock>
  
</apex:form>
</apex:page>