<apex:component controller="SmartCaseSearchExtension">
 <apex:attribute name="c" type="SmartCaseSearchExtension" description="instance of class" />    
 <apex:attribute name="Tiktik" assignTo="{!OtherPageCalling}" type="String" description="instance of class" />
<script>
    function sortCaseDataJS(sortField) {
            var txtContactFirstName ='{!c.contactName}';
             
            var txtContactEmailToSearch = '{!c.contactEmail}';
            //var txtContactEmailToSearch = '{!c.contactEmail}';
            
            var isValid = 'No';
               
            if(fncTrim(txtContactFirstName).length >= searchCharacterLimit){
               isValid = 'Yes';
            }
           
            
            if(fncTrim(txtContactEmailToSearch).length >= searchCharacterLimit){
               isValid = 'Yes';
            }
            if(isValid == 'Yes') {
                sortcaseData(sortField);
            }
    }
</script>


<apex:actionFunction action="{!c.sortData}" name="sortcaseData" reRender="resultBlock,pnlDisplayMsg" status="status" >
    <apex:param name="sortField" assignTo="{!c.sortField}" value="" />
</apex:actionFunction>

<apex:actionFunction name="nextcasePage" action="{!c.nextcasePage}" reRender="resultBlock,pnlDisplayMsg" status="status" />
<apex:actionFunction name="previouscasePage" action="{!c.previouscasePage}" reRender="resultBlock,pnlDisplayMsg" status="status" />

<apex:outputPanel id="pnlDisplayMsg">
    <apex:pageMessages />
</apex:outputPanel>

<apex:pageBlock id="resultBlock" title="Cases {!IF((c.searchCount==0), '', ' [' + TEXT(c.searchCount) + ']')}">    
  
    <apex:pageBlockTable value="{!c.cases}" var="caseObj">
          
            <apex:repeat value="{!$ObjectType.Case.FieldSets.CaseFieldSet}" var="item" >
                <apex:column headerValue="{!$ObjectType.Case.Fields[item].label}" >
                    <apex:variable value="{!$ObjectType.Case.Fields[item].Name}" var="fieldAPIName2"/>
                    <apex:outputLink value="/{!caseObj.Id}" target="_blank" rendered="{!IF(fieldAPIName2='CaseNumber',true,false)}">{!caseObj.CaseNumber}</apex:outputLink>                    
                    <apex:outputlabel value="{!caseObj[item]}" rendered="{!IF(fieldAPIName2 <>'CaseNumber',true,false)}"/>
                    <apex:facet name="header">
                        <apex:outputPanel >
                        <apex:variable value="{!$ObjectType.Case.Fields[item].Name}" var="fieldAPIName"/>
                            <apex:outputLink value="javascript:void(0);" onclick="sortCaseDataJS('{!$ObjectType.Case.Fields[item].Name}');">{!$ObjectType.Case.Fields[item].label}
                                <img src="{!IF(c.sortField = fieldAPIName,IF(c.isAsc = true,'/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif'),'/s.gif')}" />
                            </apex:outputLink>                                                              
                        </apex:outputPanel>
                    </apex:facet>
                </apex:column>               
            </apex:repeat>
            <apex:column headerValue="Owner Name">                     
                    <apex:outputlink value="/{!caseObj.Owner.Id}" target="_blank">{!caseObj.Owner.Name}                    
                    </apex:outputlink>                  
            </apex:column>
            <apex:column headerValue="Account Name">                     
                    <apex:outputlink value="/{!caseObj.Account.Id}" target="_blank">{!caseObj.Account.Name}                    
                    </apex:outputlink>                  
            </apex:column>
            <apex:column headerValue="Contact Name">                     
                    <apex:outputlink value="/{!caseObj.Contact.Id}" target="_blank">{!caseObj.Contact.Name}</apex:outputlink>                  
            </apex:column>
            
            <apex:column headerValue="Contact Email">                     
                    <apex:outputLabel value="{!caseObj.Contact.Email}" />                  
            </apex:column>
            <apex:column headerValue="Contact Mobile Phone">                     
                    <apex:outputLabel value="{!caseObj.Contact.MobilePhone}"/>                  
            </apex:column>
        
    </apex:pageBlockTable> 
    <apex:outputPanel id="errorBlock" rendered="{!(c.searchCount==0)}"><span style="color:red;">{!c.searchStatus}</span></apex:outputPanel>
     <apex:outputPanel rendered="{!NOT(c.searchCount==0)}">
                 <hr/>
                 <table width="100%" >
                  <tr>
                   <td align="left" width="33%">
                        <div id="pagelinkblock" >
                           <div id="curstate"> {!c.showingFrom}-{!c.showingTo} of {!c.totalResults} </div>
                        </div>
                   </td>
                   <td align="center" width="33%" style="vertical-align:middle;">
                       <apex:outputLink value="javascript:void(0);"  rendered="{!c.hasPrevious}" onclick="previouscasePage();">&lt;&lt;Previous</apex:outputLink>
                       <span id="div_mid1" >&nbsp;<apex:outputLabel rendered="{!c.hasPrevious && c.hasNext}" value="|"  /> &nbsp;</span>
                        <apex:outputLink value="javascript:void(0);" rendered="{!c.hasNext}" onclick="nextcasePage();">Next&gt;&gt;</apex:outputLink>
                   </td>   
                   <td align="right" width="33%" style="vertical-align:middle;">
                        <div id="pagenumber"> Page &nbsp;<apex:inputText value="{!c.requestedPage}" style="width:40px"/> of {!c.totalPage} <apex:commandButton value="Go" action="{!c.requestedcasePage}" reRender="resultBlock,pnlDisplayMsg" status="status" /></div>
                   </td>
                 </tr>
                </table> 
    </apex:outputPanel>
  </apex:pageBlock>
</apex:component>