<apex:component >
<style>
        .standardHeight{
            Height:22px;
        }       
		.red{
			background-color:#CC0000;
			color:#000000;
		}
		.POP_LAYER {
			width: 100%;
			height: 100%;
			min-height:100%;
			position: absolute;
			z-index: 1;
			overflow: hidden;
			left: 0px;
			top: 0px;
			opacity: .4;
			filter: alpha(opacity=40);
			background-color: #CCCCCC;
		}

		.POP_LAYER_NONE {
			display:none;
		} 
		
		/* Changed as per PR-08001 starts */
		.imgStatusIE{
		   height: 20%;
/* 		   margin-left:38.5%; */
/* 		   margin-top: 13.5%; */
/* 		   margin-bottom: 15%; */
		   text-align: center;
		   width: auto; vertical-align: bottom;
		}
		
		.imgStatus{
		   height: 20%;
/* 		   margin-top: 45%; */
/* 		   margin-bottom: 45%; */
		   text-align: center;
		   width: auto; vertical-align: middle;
		}
		
		/* Changed as per PR-08001 Ends */
		
    </style>
    
    <script>
    	function lockScreen(doLock){	 // New Method added as per PR-08568
			var detect = navigator.userAgent.toLowerCase();
        	var browser = detect.indexOf('msie') + 1;;
            if(browser!=0){
              document.getElementById('statusImage').className='imgStatusIE';
            }
    		if(doLock)
    			document.getElementById('hiddenLayer').className='POP_LAYER';
    		else
    			document.getElementById('hiddenLayer').className='POP_LAYER_NONE';
    		return true;
    	}
    </script>
    <div id="hiddenLayer" class="POP_LAYER_NONE" style="height: 800px;">
       <!--  Changed as per PR-08001 starts  -->
		<div id="statusImage" class="imgStatus">
	    	<img src="/img/loading.gif" /><span style="color:red;"><b>&nbsp;Loading...</b></span>
	    </div>
	</div>
	
    <script>
    	function lockScreenWithoutMsg(doLock){
    	
			var detect = navigator.userAgent.toLowerCase();
        	var browser = detect.indexOf('msie') + 1;;
            if(browser!=0){
              document.getElementById('statusImage2').className='imgStatusIE';
            }
        
            if(document.getElementById('hiddenLayer2') != null){	
	    		if(doLock)
	    			document.getElementById('hiddenLayer2').className='POP_LAYER';
	    		else
	    			document.getElementById('hiddenLayer2').className='POP_LAYER_NONE';
	    	}
	    		return true;
    	}
    </script>
    <div id="hiddenLayer2" class="POP_LAYER_NONE" style="height: 800px;">
		<div id="statusImage2" class="imgStatus">
	    	<img src="/img/loading.gif" />
	    </div>
	   
	</div>
    
    
	
</apex:component>